body {
    font-family: arial;
}

.error_message {
    color: orangered;
    font-weight: bold;
    padding: 5px;
}

.fieldlabel {
    text-align: right;
}

.hidden {
    opacity: 0;
}

table {
    border: 1px dashed lightgray;
}

button {
    width: 75px;
}